<div id="wb-sttl" class="col-md-12">
	<a href="{{site.wetSiteRoot}}/index-{{language}}.html">
		<span>{{{i18n "site-title"}}}</span>
	</a>
	<img id="wmms" src="{{assets}}/../{{site.theme}}/assets/wmms-intra.svg" alt="{{{i18n "tmpl-gc-wmms"}}}" />
</div>
